In [5]:
import pandas as pd

In [15]:
gps = pd.read_csv("data/milestone3TestData_vehicle_gps_position_0.csv")
gps

,timestamp,time_utc_usec,lat,lon,alt,alt_ellipsoid,s_variance_m_s,c_variance_rad,eph,epv,...,vel_n_m_s,vel_e_m_s,vel_d_m_s,cog_rad,timestamp_time_relative,heading,heading_offset,fix_type,vel_ned_valid,satellites_used
0,57471124,1552674646400308,323873506,-1170765251,14912,-19532,0.227,2.635552,0.769,1.053,...,-0.021,0.016,0.143,0.0,0,NaN,0.0,3,1,18
1,57669395,1552674646600308,323873507,-1170765251,14876,-19568,0.190,2.635555,0.769,1.052,...,0.033,-0.052,0.047,0.0,0,NaN,0.0,3,1,18
2,57870534,1552674646800308,323873507,-1170765251,14873,-19572,0.228,2.635557,0.769,1.053,...,0.016,0.044,0.071,0.0,0,NaN,0.0,3,1,18
3,58073571,1552674647000308,323873508,-1170765250,14873,-19571,0.234,2.635559,0.769,1.053,...,0.033,0.038,0.085,0.0,0,NaN,0.0,3,1,18
4,58271167,1552674647200308,323873508,-1170765250,14868,-19576,0.208,2.635562,0.769,1.053,...,0.008,-0.034,0.047,0.0,0,NaN,0.0,3,1,18

In [9]:
battery = pd.read_csv("data/milestone3TestData_battery_status_0.csv")
battery.head()

,timestamp,voltage_v,voltage_filtered_v,current_a,current_filtered_a,average_current_a,discharged_mah,remaining,scale,temperature,...,capacity,cycle_count,run_time_to_empty,average_time_to_empty,serial_number,connected,system_source,priority,is_powering_off,warning
0,57635616,11.417037,11.171268,0.0,0.0,0.0,0.0,0.616751,1.087471,0.0,...,0,0,0,0,0,1,1,0,0,0
1,58140592,10.912669,11.109612,0.0,0.0,0.0,0.0,0.592377,1.093554,0.0,...,0,0,0,0,0,1,1,0,0,0
2,58646014,11.340617,11.059321,0.0,0.0,0.0,0.0,0.572527,1.098559,0.0,...,0,0,0,0,0,1,1,0,0,0
3,59150812,11.065508,11.035012,0.0,0.0,0.0,0.0,0.562909,1.101000,0.0,...,0,0,0,0,0,1,1,0,0,0
4,59656562,11.203063,10.999631,0.0,0.0,0.0,0.0,0.548980,1.104556,0.0,...,0,0,0,0,0,1,1,0,0,0

In [10]:
cpu = pd.read_csv("data/milestone3TestData_cpuload_0.csv")
cpu.head()

   timestamp      load  ram_usage
0   57279836  0.339172   0.500461
1   58280177  0.500042   0.500560
2   59281231  0.440736   0.500560
3   60283405  0.441274   0.500560
4   61284943  0.438568   0.500560