In [1]:
import pandas as pd

In [2]:
gps = pd.read_csv("data/1/1_vehicle_gps_position_0.csv")
gps.head()

,timestamp,time_utc_usec,lat,lon,alt,alt_ellipsoid,s_variance_m_s,c_variance_rad,eph,epv,...,jamming_indicator,vel_m_s,vel_n_m_s,vel_e_m_s,vel_d_m_s,cog_rad,timestamp_time_relative,fix_type,vel_ned_valid,satellites_used
0,30505161,1533046242800329,405524422,-746633178,2818,-31605,0.699,3.141592,7.575000,11.628000,...,127,0.013,0.010,-0.008,-0.102,0.0,0,3,1,6
1,30705861,1533046243000329,405524435,-746633165,2421,-32002,0.857,3.141592,7.434001,11.417001,...,127,0.060,0.009,0.059,-0.089,0.0,0,3,1,6
2,30903395,1533046243200329,405524447,-746633151,2029,-32394,0.725,3.141592,7.303001,11.236000,...,127,0.028,-0.018,-0.022,-0.035,0.0,0,3,1,6
3,31104332,1533046243400329,405524462,-746633141,1559,-32864,0.759,3.141592,7.179000,11.064000,...,120,0.073,0.029,-0.067,-0.047,0.0,0,3,1,6
4,31305294,1533046243600329,405524474,-746633133,1151,-33272,0.910,3.141592,7.062000,10.901001,...,120,0.129,-0.011,-0.129,-0.035,0.0,0,3,1,6

In [3]:
battery = pd.read_csv("data/1/1_battery_status_0.csv")
battery.head()

,timestamp,voltage_v,voltage_filtered_v,current_a,current_filtered_a,average_current_a,discharged_mah,remaining,scale,temperature,...,capacity,cycle_count,run_time_to_empty,average_time_to_empty,serial_number,connected,system_source,priority,is_powering_off,warning
0,30359638,15.067529,15.028015,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0,0,0,0,0,1,1,0,0,0
1,30853406,15.016772,15.027152,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0,0,0,0,0,1,1,0,0,0
2,32347614,15.038525,15.016370,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0,0,0,0,0,1,1,0,0,0
3,32841432,14.980517,15.005692,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0,0,0,0,0,1,1,0,0,0
4,33347649,14.951513,14.993051,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0,0,0,0,0,1,1,0,0,0

In [4]:
cpu = pd.read_csv("data/1/1_cpuload_0.csv")
cpu.head()

   timestamp      load  ram_usage
0   29474299  0.486727   0.696627
1   30477207  0.542852   0.696759
2   31478724  0.530855   0.696759
3   32481375  0.460101   0.696759
4   33482256  0.554689   0.696759